RAG Vectorizer - MinIO.json
{
  "name": "RAG Vectorizer - MinIO",
  "nodes": [
    {
      "parameters": {
        "content": "## RAG Vectorizer con MinIO\nRecibe webhooks desde la app Flask para vectorizar o eliminar documentos.\n- POST /vectorize: Sube y vectoriza un nuevo documento\n- POST /delete: Elimina un documento del vector store",
        "height": 200,
        "width": 600,
        "color": 5
      },
      "id": "5c9df7fb-7f24-4acf-94f5-e638150c1ba7",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2560,
        -496
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-vectorize",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "503d4332-37eb-4be4-91f4-95fd0d561e8f",
      "name": "Webhook Vectorize",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2464,
        -192
      ],
      "webhookId": "rag-vectorize-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e01187bf-8782-46d5-8a00-f688b77f216e",
      "name": "Webhook Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2464,
        112
      ],
      "webhookId": "rag-delete-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "file-id",
              "name": "file_id",
              "value": "={{ $json.body.document_id }}",
              "type": "string"
            },
            {
              "id": "file-title",
              "name": "file_title",
              "value": "={{ $json.body.original_filename }}",
              "type": "string"
            },
            {
              "id": "file-type",
              "name": "file_type",
              "value": "={{ $json.body.file_type }}",
              "type": "string"
            },
            {
              "id": "minio-url",
              "name": "minio_url",
              "value": "={{ $json.body.minio_url }}",
              "type": "string"
            },
            {
              "id": "callback-url",
              "name": "callback_url",
              "value": "={{ $json.body.callback_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ecfa2af4-3bc4-441c-bf48-420b5ccd73b8",
      "name": "Set File Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        -192
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Set File Info').item.json.minio_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "81c438e0-6830-464c-b2fd-680213219354",
      "name": "Download from MinIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2016,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM documents_pg WHERE metadata->>'file_id' = '{{ $('Set File Info').item.json.file_id }}'",
        "options": {}
      },
      "id": "12a5d090-46e2-483b-9f7f-10c449d7241f",
      "name": "Delete Old Vectors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1792,
        -192
      ],
      "credentials": {
        "postgres": {
          "id": "CSgJAaOgfd1X2GVU",
          "name": "base de datos flask"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_rows WHERE dataset_id = '{{ $('Set File Info').item.json.file_id }}'",
        "options": {}
      },
      "id": "1caf9a70-02c7-46e9-8ddf-62f308578ed5",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1584,
        -192
      ],
      "credentials": {
        "postgres": {
          "id": "CSgJAaOgfd1X2GVU",
          "name": "base de datos flask"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File Info').item.json.file_id }}",
            "title": "={{ $('Set File Info').item.json.file_title }}",
            "url": "={{ $('Set File Info').item.json.minio_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "be8ebb02-2521-4775-9856-e8a133ba5c43",
      "name": "Insert Document Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1360,
        -192
      ],
      "credentials": {
        "postgres": {
          "id": "CSgJAaOgfd1X2GVU",
          "name": "base de datos flask"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "xlsx-check",
                    "leftValue": "={{ $('Set File Info').item.json.file_type }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "csv-check",
                    "leftValue": "={{ $('Set File Info').item.json.file_type }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "pdf-check",
                    "leftValue": "={{ $('Set File Info').item.json.file_type }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "docx-check",
                    "leftValue": "={{ $('Set File Info').item.json.file_type }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e749955a-ee71-47ea-ac07-cc5a2aadc8c1",
      "name": "Switch File Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1136,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "c90cc5b6-b015-4d42-9e4c-d36ffd9467fd",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -864,
        -400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ec06e124-13fb-40b1-b3a0-8649d2457f93",
      "name": "Extract from CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -864,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "aacfd62d-79f4-47f3-8db2-b3017de2f5e0",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -864,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "4dcb42d1-22a6-4f53-8a9a-97100406f350",
      "name": "Extract Plain Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -864,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashboard-api.ogn8n2507.site/api/extract-docx",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "05a19b99-7b38-4c88-b1f5-66dfd6985072",
      "name": "Extract DOCX Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        80
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b12ad916-ff93-44d4-bb30-63277c2408ea",
      "name": "Aggregate Excel",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -640,
        -400
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "a0d3011a-b99c-4f3e-b7af-b6a135c88f41",
      "name": "Aggregate CSV",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -640,
        -240
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "918938ad-fafe-4dcf-9b7b-5f51afe21782",
      "name": "Summarize Tabular",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -416,
        -320
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_rows",
          "mode": "list",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File Info').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "75d83865-8ab9-4b99-80bb-f6013b62454c",
      "name": "Insert Table Rows (Excel)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -640,
        -512
      ],
      "credentials": {
        "postgres": {
          "id": "CSgJAaOgfd1X2GVU",
          "name": "base de datos flask"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_rows",
          "mode": "list",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File Info').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "ed12bc52-26a8-4594-9b08-c3a7a59faa31",
      "name": "Insert Table Rows (CSV)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -640,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "CSgJAaOgfd1X2GVU",
          "name": "base de datos flask"
        }
      }
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const { PromptTemplate } = require('@langchain/core/prompts');\n\n// Buscar contenido en múltiples campos posibles\nlet documentContent = $input.item.json?.data || $input.item.json?.text || $input.item.json?.content || $input.item.json?.body;\n\n// Si hay datos binarios, convertir a string\nif (!documentContent && $input.item.binary) {\n    const binaryKey = Object.keys($input.item.binary)[0];\n    if (binaryKey) {\n        documentContent = Buffer.from($input.item.binary[binaryKey].data, 'base64').toString('utf-8');\n    }\n}\n\nconst maxChunkSize = 1000;\nconst minChunkSize = 400;\n\nif (!documentContent) {\n    throw new Error('No document found in input. Available fields: ' + JSON.stringify(Object.keys($input.item.json || {})));\n}\n\nconst llm = await this.getInputConnectionData('ai_languageModel', 0);\n\nfunction cleanText(text) {\n    return text.replace(/\\s+/g, ' ').trim();\n}\n\n// Escapar llaves para PromptTemplate (evita error 'Single } in template')\nfunction escapeForTemplate(text) {\n    return text.replace(/\\{/g, '{{').replace(/\\}/g, '}}');\n}\n\nconst chunks = [];\nlet remainingText = cleanText(documentContent);\nlet chunkNumber = 1;\n\nif (remainingText.length <= maxChunkSize) {\n    chunks.push({\n        content: remainingText,\n        chunk: chunkNumber,\n        chunk_size: remainingText.length\n    });\n} else {\n    while (remainingText) {\n        const textToAnalyze = remainingText.substring(0, maxChunkSize);\n        const escapedText = escapeForTemplate(textToAnalyze);\n        \n        const promptText = `You are analyzing a document to find the best transition point to split it into meaningful sections.\n\nYour goal: Keep related content together and split where topics naturally transition.\n\nRead this text carefully and identify where one topic/section ends and another begins:\n\n${escapedText}\n\nFind the best transition point that occurs BEFORE character position ${maxChunkSize}.\n\nLook for:\n- Section headings or topic changes\n- Paragraph boundaries where the subject shifts\n- Complete conclusions before new ideas start\n- Natural breaks between different aspects of the content\n\nOutput the LAST WORD that appears right before your chosen split point.\nJust the single word itself, nothing else.\nExample: If you want to split after \"The company was founded in 2022.\" then output: \"2022\"`;\n        \n        const prompt = PromptTemplate.fromTemplate(promptText);\n        const chain = prompt.pipe(llm);\n        \n        let breakPoint = maxChunkSize;\n        \n        try {\n            const response = await chain.invoke();\n            const responseText = response.content || response.text || response.toString();\n            const breakWord = responseText.trim();\n            \n            if (breakWord) {\n                const wordIndex = textToAnalyze.lastIndexOf(breakWord);\n                if (wordIndex !== -1) {\n                    breakPoint = wordIndex + breakWord.length;\n                    while (breakPoint < textToAnalyze.length && \n                           (textToAnalyze[breakPoint] === '.' || \n                            textToAnalyze[breakPoint] === '!' || \n                            textToAnalyze[breakPoint] === '?' || \n                            textToAnalyze[breakPoint] === ',' || \n                            textToAnalyze[breakPoint] === ';' || \n                            textToAnalyze[breakPoint] === ':' || \n                            textToAnalyze[breakPoint] === ' ')) {\n                        breakPoint++;\n                        if (textToAnalyze[breakPoint - 1] === ' ') break;\n                    }\n                    breakPoint = Math.min(breakPoint, maxChunkSize);\n                }\n            }\n        } catch (error) {\n            console.log('LLM failed to determine breakpoint, using max size:', error.message);\n            breakPoint = maxChunkSize;\n        }\n        \n        const chunk = remainingText.substring(0, breakPoint).trim();\n        \n        if (chunk) {\n            chunks.push({\n                content: chunk,\n                chunk: chunkNumber,\n                chunk_size: chunk.length\n            });\n            chunkNumber++;\n        }\n        \n        remainingText = remainingText.substring(breakPoint).trim();\n        \n        if (!remainingText) {\n            break;\n        }\n    }\n}\n\nlet i = 0;\nwhile (i < chunks.length) {\n    if (chunks[i].chunk_size < minChunkSize) {\n        if (i + 1 < chunks.length && \n            chunks[i].chunk_size + chunks[i + 1].chunk_size <= maxChunkSize) {\n            chunks[i].content += ' ' + chunks[i + 1].content;\n            chunks[i].chunk_size = chunks[i].content.length;\n            chunks.splice(i + 1, 1);\n        } \n        else if (i > 0 && \n                 chunks[i - 1].chunk_size + chunks[i].chunk_size <= maxChunkSize) {\n            chunks[i - 1].content += ' ' + chunks[i].content;\n            chunks[i - 1].chunk_size = chunks[i - 1].content.length;\n            chunks.splice(i, 1);\n        } else {\n            i++;\n        }\n    } else {\n        i++;\n    }\n}\n\nconst returnData = chunks.map(chunk => ({\n    json: chunk\n}));\n\nreturn returnData;"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "ai_languageModel",
              "maxConnections": 1,
              "required": true
            },
            {
              "type": "main",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "id": "a37ed585-e845-468c-8847-1336f3207c05",
      "name": "LangChain Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        -192,
        -80
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "id": "f0451cd3-0cc8-471c-b7f2-d6f301681cac",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        128
      ],
      "credentials": {
        "openAiApi": {
          "id": "GWAdEx62Jz5Ohm3u",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "9486a2b3-8fa9-467c-9fb6-1cd175c05a64",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        96,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "GWAdEx62Jz5Ohm3u",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set File Info').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File Info').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "4ea22e38-c9e1-4902-b647-d00332b1cb57",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        288,
        80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "657a12a0-0d8b-45f2-9730-7736acb70401",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        368,
        208
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents_pg",
        "options": {}
      },
      "id": "fde611c2-05b1-40f2-9583-8a2d61ae3dec",
      "name": "PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        176,
        -288
      ],
      "credentials": {
        "postgres": {
          "id": "CSgJAaOgfd1X2GVU",
          "name": "base de datos flask"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag_documents SET status = 'ready', updated_at = NOW() WHERE id = {{ $('Set File Info').first().json.file_id }}",
        "options": {}
      },
      "id": "f573ae07-f2d6-40e8-9b57-35825eafdcdb",
      "name": "Update Status Ready",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        432,
        -288
      ],
      "credentials": {
        "postgres": {
          "id": "CSgJAaOgfd1X2GVU",
          "name": "base de datos flask"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Document vectorized successfully', file_id: $('Set File Info').first().json.file_id }) }}",
        "options": {}
      },
      "id": "5f987bd0-4408-4915-ae3f-f7b296407957",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        656,
        -288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "delete-file-id",
              "name": "file_id",
              "value": "={{ $json.body.document_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4f9b2942-5548-42a2-bbbe-dc4e403656e2",
      "name": "Set Delete Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM documents_pg WHERE metadata->>'file_id' = '{{ $json.file_id }}'",
        "options": {}
      },
      "id": "780ad194-115a-4c2e-8e8c-beeaea39e3b0",
      "name": "Delete from PGVector",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2016,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "CSgJAaOgfd1X2GVU",
          "name": "base de datos flask"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_rows WHERE dataset_id = '{{ $('Set Delete Info').item.json.file_id }}'",
        "options": {}
      },
      "id": "31d1d15a-9839-4328-b7e0-4536fb9c7fb7",
      "name": "Delete Rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1792,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "CSgJAaOgfd1X2GVU",
          "name": "base de datos flask"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_metadata WHERE id = '{{ $('Set Delete Info').item.json.file_id }}'",
        "options": {}
      },
      "id": "4829a063-bd1a-4ba8-9254-70fa130f4eaa",
      "name": "Delete Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1584,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "CSgJAaOgfd1X2GVU",
          "name": "base de datos flask"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Document deleted successfully', file_id: $('Set Delete Info').first().json.file_id }) }}",
        "options": {}
      },
      "id": "53002d20-2e4f-4bd1-ac6e-56c12f82fbe6",
      "name": "Respond Delete Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1360,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Vectorize": {
      "main": [
        [
          {
            "node": "Set File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Info": {
      "main": [
        [
          {
            "node": "Delete Old Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Vectors": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download from MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from MinIO": {
      "main": [
        [
          {
            "node": "Switch File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch File Type": {
      "main": [
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract DOCX Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Plain Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate Excel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows (Excel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Excel": {
      "main": [
        [
          {
            "node": "Summarize Tabular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate CSV": {
      "main": [
        [
          {
            "node": "Summarize Tabular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Tabular": {
      "main": [
        [
          {
            "node": "PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "LangChain Text Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Plain Text": {
      "main": [
        [
          {
            "node": "LangChain Text Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DOCX Text": {
      "main": [
        [
          {
            "node": "LangChain Text Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LangChain Text Splitter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LangChain Text Splitter": {
      "main": [
        [
          {
            "node": "PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "PGVector Store": {
      "main": [
        [
          {
            "node": "Update Status Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Ready": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Delete": {
      "main": [
        [
          {
            "node": "Set Delete Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Delete Info": {
      "main": [
        [
          {
            "node": "Delete from PGVector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete from PGVector": {
      "main": [
        [
          {
            "node": "Delete Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Rows": {
      "main": [
        [
          {
            "node": "Delete Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Metadata": {
      "main": [
        [
          {
            "node": "Respond Delete Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e1f740f-2546-477b-9eba-09f387842571",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a76ee565d5030c7cf86590b8e4b0193690bbdbeb1bc473ece830424f5478fc5b"
  },
  "id": "1y1deeC9TmgsGVSU",
  "tags": []
}